main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 210px;
}

body {
  background: #f5f7fb;
}

h1 {
  text-align: center;
}

button {
  margin: auto auto;
  margin-top: 20px;
}
